# Ignorar lo viejo y lo innecesario
sakila-db/
fastapi-rds/
chinook-frontend/
__pycache__/
*.pyc
venv/
.venv/
Chinook_MySql.sql
hola.py
primo.py
test_primo.py
requirements.txt

# Python
*.egg-info/
dist/

# Node
node_modules/

# Env files
.env
